$primary: #FFEE00;


body, html {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    font-family: 'Montserrat';
}

.container {
    background: $primary;
    clip-path: polygon(100% 0, 100% 88%, 52% 100%, 55% 94%, 0 100%, 0 0);

    header {
        display: grid;
        grid-template-columns: 20% auto;
        padding: 20px;

        #logo {
            width: 100px;
        }

        nav {
            justify-self: right;

            ul {
                list-style-type: none;
                margin: 0;

                li {
                    display: inline;

                    a {
                        padding: 8px 20px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: #000;
                    }
                }
            }

        }

    }
}

#hero {
    position: relative;
    z-index: 1;

    overflow: hidden;
    object-fit: scale-down;

    video {
        position: absolute;
        z-index: -1;
        width: 100%;
    }

    #content {
        padding: 4em;

        h1 {
            margin: 0;
            text-transform: uppercase;
            font-size: 5em;
            font-weight: 800;
        }

        p {
            font-size: 1.5em;
            margin-top: 0;
        }
    }
}

.btn {
    background: #000;
    padding: 15px 60px 15px 30px;
    color: #fff;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-top: 1.2em;
    display: inline-block;
    margin-bottom: 1em;
    clip-path: polygon(0 0, 100% 0, 79% 100%, 0% 100%);
}

.anim {
    position: relative;
    display: inline-block;
    overflow: hidden;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0; right: 0;
        height: 100%;
        z-index: 1; 
        clip-path: polygon(33% 1%, 100% 0, 100% 100%, 0% 100%);
    }
    &:before {
        background-color: white;
        animation: showText .8s ease;
    }
    &:after {
        background-color: black;
        animation-delay: .5s;
        animation: showText .6s ease;
    }

    h1 {
        opacity: 0;
        animation: animateText .7s forwards;
    }

}

@keyframes animateText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showText {
    0% {
        width: 0;
        left: 0;
        transform: translateX(0);
    }
    50% {
        width: 100%;
        transform: translateX(12%);
    }
    100% {
        transform: translateX(100%);
    }
}

section {
    padding: 4em;

    h2 {
        font-size: 2em;
        margin-bottom: 0;
    }

    p {
        font-size: 1.3em;
        margin: 0 0 2em 0;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(4, auto);

        figure {
            margin: 3px;
            overflow: hidden;
            position: relative;
            background-color: yellow;
            transition: background-color .5s;

            img {
                width: calc(100% + 60px);
                opacity: .7;
                transform: translate3d(0, -20px, 0) scale(1.12);
                transition: all .5s;
            }

            figcaption {
                position: absolute;
                padding: 1em 2em;
                top: 0;
                color: #fff;
                text-align: center;

                h3 {
                    font-weight: bold;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    background: black;
                    display: inline-block;
                    padding: .5em .7em;
                }

                .additional {
                    font-family: 'Montserrat';

                    p {
                        margin-bottom: 20px;
                    }

                    a {
                        display: inline-block;
                        background: white;
                        text-transform: uppercase;
                        text-decoration: none;
                        padding: .5em;
                        font-weight: bold;
                        color: black;
                        border-radius: 4px;
                    }

                    a:last-child {
                        background: none;
                        border: 1px solid white;
                        color: white;
                        margin-left: 5px;
                    }
                }
            }

            figcaption::before {
                content: '';
                border-top: 60px solid white;
                position: absolute;
                right: 0;
                top: 0;
                bottom: 30px;
                left: -75%;
                height: 100%;
                transform: rotateZ(-45deg) translate3d(0,-30%, 0);
                transition: transform .5s;
            }

            .additional {
                opacity: 0;
                transform: scale(1.3);
                transition: all .5s;
            }
        }

        figure:hover {
            background: black;
        }

        figure:first-child {
            margin-left: 0;
        }

        figure:hover img {
            transform: translate3d(0,0,0) scale(1);
            opacity: .4;
        }

        figure:hover .additional {
            opacity: 1;
            transform: scale(1);
        }

        figure:hover figcaption::before {
            transform: rotateZ(-45deg) translate3d(0,0,0);
        }
    }
}